@model IEnumerable<OnionLibrary.Domain.Models.Shelf>
@{
    ViewData["Title"] = "Shelf Page";
}
<div class="btn">
    <a asp-area="" asp-controller="Shelf" asp-action="Create" class="btn-text">+</a>
</div>
 
@{
    foreach (var item in Model)
    {
    <div class="book">
                    <div class="inf">
                        <div class="desc">
                        <h3 class="title"><a asp-area="" asp-controller="Shelf" asp-action="Details" asp-route-id="@item.Id" class="btn-text">@item.Title</a></h3>
                        </div>
                    </div>
                    <div class="btn-panel">
                        @if(User.IsInRole("Admin")){
                            <div class="btn" >
                                <a asp-area="" asp-controller="Shelf" asp-action="Edit" asp-route-id="@item.Id" class="btn-text">...</a>
                            </div>
                            <div class="btn" >
                                <a asp-area="" asp-controller="Shelf" asp-action="Delete" asp-route-id="@item.Id" class="btn-text">-</a>
                            </div>
                    }
                        
                    </div>
                        
    </div>
    }
}
